<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.select :customer_id,
      options_from_collection_for_select(@customers, 'id', 'name'),
      { prompt: '(Select)' },
      { class: 'browser-default' } %>
  </div>
  <div class="field">
    <%= f.label :branch_id %><br>
    <%= f.select :branch_id,
      options_from_collection_for_select(@branches, 'id', 'name'),
      {},
      { class: 'browser-default' } %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.select :product_id,
      options_from_collection_for_select(@products, 'id', 'name'),
      { prompt: '(Select)' },
      { class: 'browser-default' } %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit value: 'Save', class: 'btn' %>
  </div>
<% end %>
