<h3>Welcome!</h3>
<p class="buffer-bottom"><strong>This is MauroShop's dashboard</strong>.</p>

<ul class="collection with-header">
  <li class="collection-header"><h5>Stats:</h5></li>
  <li class="collection-item">
    <div>
      Weekly report is configured for: <%= mail_to @weekly_report_email %>
      <%= link_to(weekly_reports_path, class: 'secondary-content', method: 'POST') do %>
        <i class="material-icons buffer-left hoverable" title="Send it now!">send</i>
      <% end %>
      <a href="#!" class="secondary-content">
        <i class="material-icons hoverable" title="Change that">settings</i>
      </a>
    </div>
  </li>
  <li class="collection-item">
    <%= image_tag 'pyramid_stats.jpg' %>
  </li>
  <li class="collection-item">
    Production is running over 9000% today!
  </li>
</ul>
