<h4>Purchases Report</h4>

<div class="divider buffer-bottom"></div>

<%= form_tag do %>
  <%= search_field_tag(:customer_number, nil, { placeholder: 'Customer Number', required: true }) %>
  <%= submit_tag('Search', { class: 'btn' }) %>
<% end %>
